.menu__burger__btn {
  position: absolute;
  z-index: 3;
  right: 9vw;
  top: 50px;
  cursor: pointer;
  transition: all 0.5s ease-out;
  display: none;
}

.menu__burger__btn .btn__line {
  width: 30px;
  height: 3px;
  margin: 0 0 5px 0;
  background: #fff;
  transition: all 0.5s ease-out;
}

.menu__burger__btn.close {
  transform: rotate(180deg);
}

.menu__burger__btn.close .btn__line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.menu__burger__btn.close .btn__line:nth-child(2) {
  opacity: 0;
}

.menu__burger__btn.close .btn__line:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -6px);
}

.menu__burger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(25, 24, 52, 0.9);
  list-style-type: none;
  text-align: center;
  visibility: hidden;
  transform: translate3d(0, -100%, 0);
  transition: all 0.5s ease-out;
}

.menu__burger.show {
  visibility: visible;
  transform: translate3d(0, 0, 0);
}

.menu__burger__item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

.menu__burger__item__logo {
  margin-top: 5vh;
  width: 40%;
}

.menu__burger__item__link {
  display: block;
  height: 100%;
  width: 100vw;
  font-size: 4vh;
  line-height: 20vh;
  text-decoration: none;
  color: #fff;
}

.menu__burger__item__link:hover {
  background: rgba(255, 255, 255, 0.3);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif, "Arial";
}

body h1 {
  font-size: 3.5vw;
}

body h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #4b479e;
}

body p {
  margin-top: 3rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 2rem;
  color: #333;
}

body button {
  font-size: 1.0rem;
  border: none;
}

body a {
  text-decoration: none;
}

header {
  background: url(../images/background/bg-header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 50px 9vw 0 9vw;
  height: 100vh;
}

header .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .menu__logo {
  margin-left: 0;
  height: 2.2vw;
}

header .menu__nav {
  display: flex;
  list-style-type: none;
  overflow: hidden;
}

header .menu__nav__item {
  margin: 0 1.05vw;
}

header .menu__nav__item__link {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 1vw;
  font-size: 1.1vw;
  font-weight: 500;
  color: #fff;
  transition: all 0.5s ease-out;
}

header .menu__nav__item__link:hover {
  color: #cccccc;
}

header .menu__nav__item:last-child {
  margin-right: 0;
  border: 2px solid #6185d1;
  border-radius: 3rem;
}

header .content {
  display: flex;
  flex-direction: column;
  height: calc(100% - 50px);
  padding-top: 5vh;
  color: #fff;
}

header .content__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

header .content__box__paragraph {
  justify-content: flex-start;
  margin: 0;
  color: #6185d1;
}

header .content__box__btn {
  margin-top: 8vh;
}

header .content__box__btn .btn {
  margin-right: 1rem;
  font-weight: 400;
  border: none;
}

header .content__box__btn .btn:nth-child(1) a {
  background-color: #6166ed;
}

header .content__box__btn .btn:nth-child(2) a {
  background-color: #312e64;
  margin-right: 0;
}

header .content__box__btn .btn:hover a {
  background: #3a377b;
}

header .content__box__btn a {
  display: block;
  padding: 1vw 2vw;
  color: #fff;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

header .content__brand {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 15vh;
}

header .content__brand__img {
  height: 7vh;
  width: auto;
}

section {
  margin: 3rem 9vw;
}

section#first__container {
  display: grid;
  grid-gap: 4.9rem;
  grid-template-columns: repeat(2, 1fr);
}

section#first__container .first__container__image img {
  margin-top: 4rem;
  width: 100%;
}

section#first__container .first__container__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#second__container {
  display: grid;
  grid-gap: 4.9rem;
  grid-template-columns: repeat(4, 1fr);
}

#second__container .second__container__box {
  min-height: 250px;
  max-width: 400px;
  margin: 0 auto;
  -webkit-box-shadow: 0px 0px 51px 0px rgba(51, 51, 51, 0.1);
  -moz-box-shadow: 0px 0px 51px 0px rgba(51, 51, 51, 0.1);
  box-shadow: 0px 0px 51px 0px rgba(51, 51, 51, 0.1);
  color: #4b479e;
}

#second__container .second__container__box__content {
  padding: 2rem;
}

#second__container .second__container__box__content__image {
  height: 130px;
}

#second__container .second__container__box__content__image img {
  height: 100%;
}

#second__container .second__container__box__content h3 {
  margin: 2rem 0;
}

#second__container .second__container__box__content p {
  margin: 0;
  line-height: 1.5rem;
  font-weight: 600;
  color: #4b479e;
}

#second__container .second__container__box button {
  width: 100%;
}

#second__container .second__container__box button a {
  display: block;
  width: 100%;
  line-height: 3rem;
  background: #4b479e;
  color: #fff;
  border: 0;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

#second__container .second__container__box button a img {
  margin-left: .3rem;
}

@media screen and (min-width: 769px) and (max-width: 1279px) {
  body p {
    margin: 0.8rem 0;
  }
  header .content .content__box .content__box__btn {
    margin-top: 4vh;
  }
  section#second__container {
    grid-template-rows: auto;
    grid-template-columns: repeat(2, 2fr);
  }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  body h1 {
    font-size: 2.4rem;
  }
  header .menu__burger__btn {
    display: block;
  }
  header .menu__logo {
    height: 5vw;
  }
  header .menu__nav {
    display: none;
  }
  header .content__box {
    text-align: center;
  }
  header .content__box__paragraph {
    font-size: .9rem;
  }
  header .content__box__btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4vh 0 0;
  }
  header .content__box__btn .btn {
    margin: .5rem;
    max-width: 200px;
  }
  header .content__box__btn a {
    padding: 0.6rem 1.2rem;
    width: 100%;
    font-size: 0.8rem;
    line-height: 20px;
  }
  header .content__brand {
    display: none;
  }
  section#first__container {
    grid-template-rows: auto;
    grid-template-columns: repeat(1, 2fr);
  }
  section#second__container {
    grid-template-rows: auto;
    grid-template-columns: repeat(1, 2fr);
  }
}

@media screen and (max-width: 320px) {
  body h1 {
    font-size: 2.4rem;
  }
  header .menu__burger__btn {
    display: block;
  }
  header .menu__logo {
    height: 5vw;
  }
  header .menu__nav {
    display: none;
  }
  header .content__box {
    text-align: center;
  }
  header .content__box__paragraph {
    font-size: .9rem;
  }
  header .content__box__btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4vh 0 0;
  }
  header .content__box .btn {
    margin: .5rem;
  }
  header .content__box a {
    padding: 0.6rem 1.2rem;
    width: 100%;
    font-size: 0.8rem;
    line-height: 20px;
  }
  header .content__brand {
    display: none;
  }
  section#first__container {
    grid-template-rows: auto;
    grid-template-columns: repeat(1, 2fr);
  }
  section#second__container {
    grid-template-rows: auto;
    grid-template-columns: repeat(1, 2fr);
  }
}

/*# sourceMappingURL=style.css.map */