.menu__burger__btn {
  position: absolute;
  z-index: 3;
  right: 9vw;
  top: 50px;
  cursor: pointer;
  transition: all 0.5s ease-out;
  display: none;
}

.menu__burger__btn .btn__line {
  width: 30px;
  height: 3px;
  margin: 0 0 5px 0;
  background: #fff;
  transition: all 0.5s ease-out;
}

.menu__burger__btn.close {
  transform: rotate(180deg);
}

.menu__burger__btn.close .btn__line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.menu__burger__btn.close .btn__line:nth-child(2) {
  opacity: 0;
}

.menu__burger__btn.close .btn__line:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -6px);
}

.menu__burger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(25, 24, 52, 0.9);
  list-style-type: none;
  text-align: center;
  visibility: hidden;
  transform: translate3d(0, -100%, 0);
  transition: all 0.5s ease-out;
}

.menu__burger.show {
  visibility: visible;
  transform: translate3d(0, 0, 0);
}

.menu__burger__item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

.menu__burger__item__logo {
  margin-top: 5vh;
  width: 40%;
}

.menu__burger__item__link {
  display: block;
  height: 100%;
  width: 100vw;
  font-size: 4vh;
  line-height: 20vh;
  text-decoration: none;
  color: #fff;
}

.menu__burger__item__link:hover {
  background: rgba(255, 255, 255, 0.3);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif, "Arial";
}

body h1 {
  font-size: 3.5vw;
}

body h2 {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  color: #4b479e;
}

body p {
  margin-top: 3rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 2rem;
  text-align: center;
  color: #333;
}

body button {
  font-size: 1.0rem;
  border: none;
}

body a {
  text-decoration: none;
}

body section {
  padding: 6rem 9vw;
}

header {
  background: url(../images/background/bg-header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 50px 9vw 0 9vw;
  height: 100vh;
}

header .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .menu__logo {
  margin-left: 0;
  height: 2.2vw;
}

header .menu__nav {
  display: flex;
  list-style-type: none;
  overflow: hidden;
}

header .menu__nav__item {
  margin: 0 1.05vw;
}

header .menu__nav__item__link {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 1vw;
  font-size: 1.1vw;
  font-weight: 500;
  color: #fff;
  transition: all 0.5s ease-out;
}

header .menu__nav__item__link:hover {
  color: #cccccc;
}

header .menu__nav__item:last-child {
  margin-right: 0;
  border: 2px solid #6185d1;
  border-radius: 3rem;
}

header .content {
  display: flex;
  flex-direction: column;
  height: calc(100% - 50px);
  padding-top: 5vh;
  color: #fff;
}

header .content__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

header .content__box__paragraph {
  justify-content: flex-start;
  margin: 0;
  text-align: left;
  color: #6185d1;
}

header .content__box__btn {
  margin-top: 8vh;
}

header .content__box__btn .btn {
  margin-right: 1rem;
  font-weight: 400;
  border: none;
}

header .content__box__btn .btn:nth-child(1) a {
  background-color: #6166ed;
}

header .content__box__btn .btn:nth-child(2) a {
  background-color: #312e64;
  margin-right: 0;
}

header .content__box__btn .btn:hover a {
  background: #3a377b;
}

header .content__box__btn a {
  display: block;
  padding: 1vw 2vw;
  color: #fff;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

header .content__brand {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 15vh;
}

header .content__brand__img {
  height: 7vh;
  width: auto;
}

.first__container {
  display: grid;
  grid-gap: 4.9rem;
  grid-template-columns: repeat(2, 1fr);
  padding: 8rem 9vw;
  padding: 2rem 9vw;
}

.first__container.x__container .x__container__image {
  display: flex;
  align-items: center;
}

.first__container.x__container .x__container__image img {
  width: 100%;
}

.first__container.x__container .x__container__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.first__container img {
  margin-top: 4rem;
}

.second__container {
  display: grid;
  grid-gap: 4.9rem;
  grid-template-columns: repeat(4, 1fr);
  padding: 5rem 9vw;
}

.second__container .second__container__box {
  min-height: 250px;
  max-width: 400px;
  margin: 0 auto;
  -webkit-box-shadow: 0px 0px 51px 0px rgba(51, 51, 51, 0.1);
  -moz-box-shadow: 0px 0px 51px 0px rgba(51, 51, 51, 0.1);
  box-shadow: 0px 0px 51px 0px rgba(51, 51, 51, 0.1);
  color: #4b479e;
}

.second__container .second__container__box__content {
  padding: 2rem;
}

.second__container .second__container__box__content__image {
  height: 130px;
}

.second__container .second__container__box__content__image img {
  height: 100%;
}

.second__container .second__container__box__content h3 {
  margin: 2rem 0;
}

.second__container .second__container__box__content p {
  margin: 0;
  line-height: 1.5rem;
  font-weight: 600;
  color: #4b479e;
  text-align: left;
}

.second__container .second__container__box button {
  width: 100%;
}

.second__container .second__container__box button a {
  display: block;
  width: 100%;
  line-height: 3rem;
  background: #4b479e;
  color: #fff;
  border: 0;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.second__container .second__container__box button a img {
  margin-left: .3rem;
}

.second__container .second__container__box button a:hover {
  background-color: #6b67bb;
}

.third__container {
  display: grid;
  grid-gap: 4.9rem;
  grid-template-columns: repeat(2, 1fr);
  padding: 8rem 9vw;
  background-color: #f0f0f0;
}

.third__container.x__container .x__container__image {
  display: flex;
  align-items: center;
}

.third__container.x__container .x__container__image img {
  width: 100%;
}

.third__container.x__container .x__container__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fourth__container {
  display: grid;
  grid-gap: 4.9rem;
  grid-template-columns: repeat(2, 1fr);
  padding: 8rem 9vw;
  direction: rtl;
  background-color: inherit;
}

.fourth__container.x__container .x__container__image {
  display: flex;
  align-items: center;
}

.fourth__container.x__container .x__container__image img {
  width: 100%;
}

.fourth__container.x__container .x__container__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer {
  padding: 4rem 9vw;
  background: url(../images/background/bg-footer.jpg) center/cover no-repeat;
  text-transform: uppercase;
  color: #fff;
}

footer .info__content {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-areas: '. info__name' 'box-1 box-2';
  grid-template-columns: 1fr 2fr;
}

footer .info__content .info__name {
  grid-area: info__name;
}

footer .info__content .info__name h2 {
  text-align: left;
  text-transform: none;
  font-weight: 400;
  color: #fff;
}

footer .info__content .info__box-1 {
  grid-area: box-1;
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}

footer .info__content .info__box-1__contact p {
  margin: 0 0 2rem;
  line-height: 1.5rem;
  text-align: left;
  font-weight: 400;
  color: #fff;
}

footer .info__content .info__box-1__contact p span {
  color: #7dbd6e;
}

footer .info__content .info__box-1__socials {
  margin: 1rem 0 3rem;
}

footer .info__content .info__box-1__socials a {
  margin-right: 1.9rem;
  font-size: 1.2rem;
  color: #fff;
  transition: all 0.5s ease-out;
}

footer .info__content .info__box-1__socials a:hover {
  color: #7dbd6e;
}

footer .info__content .info__box-2 form {
  grid-area: box-2;
  display: grid;
  grid-gap: 1.5rem;
  grid-template-areas: 'fullname email' 'tel topic' 'message message' '. btn';
  grid-template-columns: repeat(2, 1fr);
}

footer .info__content .info__box-2 .field__fullname {
  grid-area: fullname;
}

footer .info__content .info__box-2 .field__email {
  grid-area: email;
}

footer .info__content .info__box-2 .field__tel {
  grid-area: tel;
}

footer .info__content .info__box-2 .field__topic {
  grid-area: topic;
}

footer .info__content .info__box-2 .field__message {
  grid-area: message;
}

footer .info__content .info__box-2 .field__btn {
  grid-area: btn;
  width: 12rem;
  height: 4rem;
  margin-left: auto;
  background-color: inherit;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50rem;
  transition: all 0.5s ease-out;
}

footer .info__content .info__box-2 .field__btn:hover {
  border-color: #7dbd6e;
  color: #7dbd6e;
}

footer .info__content .info__box-2 .form__field {
  display: flex;
  flex-flow: column-reverse;
  margin-bottom: 1rem;
}

footer .info__content .info__box-2 .form__field label, footer .info__content .info__box-2 .form__field input, footer .info__content .info__box-2 .form__field textarea {
  transition: all 0.5s ease-out;
  touch-action: manipulation;
}

footer .info__content .info__box-2 .form__field input, footer .info__content .info__box-2 .form__field textarea {
  padding: .5rem 0;
  background-color: inherit;
  border: none;
  border-radius: 0;
  border-bottom: 2px solid #fff;
  color: #fff;
  cursor: text;
}

footer .info__content .info__box-2 .form__field input:focus, footer .info__content .info__box-2 .form__field textarea:focus {
  outline: 0;
}

footer .info__content .info__box-2 .form__field input:placeholder-shown + label, footer .info__content .info__box-2 .form__field textarea:placeholder-shown + label {
  white-space: nowrap;
  overflow: hidden;
  transform-origin: left bottom;
  transform: translate(0, 1.5rem);
}

footer .info__content .info__box-2 .form__field input:not(:placeholder-shown) + label,
footer .info__content .info__box-2 .form__field input:focus + label, footer .info__content .info__box-2 .form__field textarea:not(:placeholder-shown) + label,
footer .info__content .info__box-2 .form__field textarea:focus + label {
  transform: translate(0, 0);
  cursor: pointer;
}

footer .info__content .info__box-2 .form__field input[type='number'] {
  -moz-appearance: textfield;
}

footer .info__content .info__box-2 .form__field input::-webkit-outer-spin-button,
footer .info__content .info__box-2 .form__field input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

footer .info__content .info__box-2 .form__field input[type="text"].error,
footer .info__content .info__box-2 .form__field input[type="number"].error,
footer .info__content .info__box-2 .form__field input[type="email"].error {
  border-bottom: 2px solid #db083e;
}

footer .info__content .info__box-2 .form__field input[type="text"].ok,
footer .info__content .info__box-2 .form__field input[type="number"].ok,
footer .info__content .info__box-2 .form__field input[type="email"].ok {
  border-bottom: 2px solid #7dbd6e;
}

footer .info__content .info__box-2 .form__field textarea.error {
  border-color: #db083e;
}

footer .info__content .info__box-2 .form__field textarea.ok {
  border-color: #7dbd6e;
}

footer .info__content .info__box-2 .form__field textarea {
  height: 5rem;
}

footer .info__content .info__box-2 .form__field textarea:placeholder-shown + label {
  transform: translate(0, 4.5rem);
}

footer .info__content .info__box-2 .form__field textarea:not(:placeholder-shown) + label,
footer .info__content .info__box-2 .form__field textarea:focus + label {
  transform: translate(0, 0);
}

footer .copyright {
  margin-top: 10rem;
  text-align: left;
  color: #fff;
}

@media screen and (min-width: 769px) and (max-width: 1279px) {
  body p {
    margin: 0.8rem 0;
  }
  header .content .content__box .content__box__btn {
    margin-top: 4vh;
  }
  section.second__container {
    grid-template-columns: repeat(2, 2fr);
  }
  footer .info__content {
    grid-template-areas: 'box-1' 'info__name' 'box-2';
    grid-template-columns: 1fr;
  }
  footer .info__content .info__box-1 {
    align-items: center;
  }
  footer .info__content .info__box-1__socials {
    margin-right: 0;
  }
  footer .info__content .info__box-1__contact p, footer .info__content .info__box-1__socials {
    text-align: center;
  }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  body h1 {
    font-size: 2.4rem;
  }
  header .menu__burger__btn {
    display: block;
  }
  header .menu__logo {
    height: 5vw;
  }
  header .menu__nav {
    display: none;
  }
  header .content__box {
    text-align: center;
  }
  header .content__box__paragraph {
    font-size: .9rem;
    text-align: center;
  }
  header .content__box__btn {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  header .content__box__btn .btn {
    margin: .5rem;
    max-width: 200px;
  }
  header .content__box__btn a {
    padding: 0.6rem 1.2rem;
    width: 100%;
    font-size: 0.8rem;
    line-height: 20px;
  }
  header .content__brand {
    display: none;
  }
  section.x__container {
    grid-template-columns: repeat(1, 2fr);
  }
  section.second__container {
    grid-template-columns: repeat(1, 2fr);
  }
  footer .info__content {
    grid-template-areas: 'box-1' 'info__name' 'box-2';
    grid-template-columns: 1fr;
  }
  footer .info__content .info__name h2 {
    text-align: center;
  }
  footer .info__content .info__box-1 {
    align-items: center;
  }
  footer .info__content .info__box-1__socials a {
    margin: 1rem;
  }
  footer .info__content .info__box-1__socials a i {
    transform: scale(1.5);
  }
  footer .info__content .info__box-1__contact p, footer .info__content .info__box-1__socials {
    text-align: center;
  }
  footer .info__content .info__box-2 form {
    grid-area: box-2;
    display: grid;
    grid-gap: 1.5rem;
    grid-template-areas: 'fullname' 'email' 'tel' 'topic' 'message' 'btn';
    grid-template-columns: 1fr;
  }
  footer .info__content .info__box-2 form .field__btn {
    margin: 0 auto;
  }
  footer .copyright {
    margin-top: 4rem;
    text-align: justify;
  }
}

@media screen and (max-width: 320px) {
  footer .info__content {
    grid-template-areas: 'box-1' 'info__name' 'box-2';
    grid-template-columns: 1fr;
  }
  footer .info__content .info__box-1 {
    align-items: center;
  }
  footer .info__content .info__box-1__contact p, footer .info__content .info__box-1__socials {
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */