* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body h1 {
  font-size: 2.7rem;
}

body p {
  font-size: 0.95rem;
  margin: 1.5rem 0;
}

body button {
  font-size: 0.8rem;
}

header {
  background: url(../images/background/bg-header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0 10vw;
  height: 100vh;
}

header .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
}

header .menu .menu__logo {
  margin-left: 0;
  height: 1.8rem;
}

header .menu .menu__nav {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  overflow: hidden;
}

header .menu .menu__nav .menu__nav__item {
  margin: 0 0.7rem;
}

header .menu .menu__nav .menu__nav__item .menu__nav__item__link {
  display: flex;
  align-items: center;
  font-weight: 600;
  color: #fff;
  height: 100%;
  padding: 0.7rem 1.5rem;
  text-decoration: none;
}

header .menu .menu__nav .menu__nav__item:last-child {
  margin-right: 0;
  border: 2px solid #6185d1;
  border-radius: 5rem;
}

header .content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-top: 12vh;
  height: 85vh;
  color: #fff;
}

header .content .content__box__paragraph {
  color: #6185d1;
}

header .content .content__box {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-left: 0;
}

header .content .content__box .content__box__btn {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 4rem;
}

header .content .content__box .content__box__btn .btn {
  margin-right: 1rem;
  padding: 0.7rem 1.8rem;
  font-weight: 400;
  color: #fff;
  border: none;
  cursor: pointer;
}

header .content .content__box .content__box__btn .btn:nth-child(1) {
  background-color: #6166ed;
}

header .content .content__box .content__box__btn .btn:nth-child(2) {
  background-color: #312e64;
}

header .content .content__brand {
  display: flex;
  justify-content: space-between;
  margin: 3rem 0;
}

@media screen and (min-width: 769px) and (max-width: 1279px) {
  body h1 {
    font-size: 3rem;
  }
  body p, body button {
    font-size: 1.1rem;
  }
  header .menu .menu__logo {
    height: 1.5rem;
  }
  header .menu .menu__nav .menu__nav__item {
    font-size: 0.8rem;
    margin: 0 0.3rem;
  }
  header .menu .menu__nav .menu__nav__item .menu__nav__item__link {
    padding: 0.7rem;
  }
  header .content .content__box .content__box__btn {
    margin-top: 2.5rem;
  }
  header .content .content__box .content__box__btn .btn {
    padding: 0.5rem 1rem;
  }
  header .content .content__brand .content__brand__img {
    height: 2.5rem;
  }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  body h1 {
    font-size: 200%;
  }
  body p, body button {
    font-size: 50%;
  }
  header .menu .menu__logo {
    height: .6rem;
  }
  header .menu .menu__nav .menu__nav__item {
    font-size: 0.4rem;
    margin: 0 0.3rem;
  }
  header .menu .menu__nav .menu__nav__item .menu__nav__item__link {
    padding: 0.2rem;
  }
  header .content .content__box {
    margin: auto;
    text-align: center;
  }
  header .content .content__box .content__box__btn {
    margin: auto;
    margin-top: 1.5rem;
  }
  header .content .content__box .content__box__btn .btn {
    padding: 0.25rem .5rem;
    margin: 0.5rem;
  }
  header .content .content__brand {
    margin: 1.5rem 0;
  }
  header .content .content__brand .content__brand__img {
    height: 5vh;
  }
}

/*# sourceMappingURL=style.css.map */