// Widescreens
@include mediaXl {

}

// Desktops & laptops
@include mediaLg {
    body {
        p {
            margin: 0.8rem 0;
        }
    
        header .content .content__box .content__box__btn {
            margin-top: 4vh;
        }
    }
}

// Tablets & small laptops
@include mediaMd {
    body {
        h1 {
            font-size: 2.4rem;
        }
        
        p {
            margin: 0.3rem 0;  
        }
        header {
            .menu__burger__btn {
                display: block;
            }
            .menu {
                
                &__logo {
                    height: 5vw;
                }
                
                &__nav {
                    display: none;
                }
            }

            .content {
                &__box {
                    text-align: center;
                    
                    &__paragraph {
                        font-size: .9rem;
                    }
                    
                    &__btn {
                        display: flex;
                        justify-content: center;
                        margin: 4vh 0 0;
                        
                        .btn {
                            margin: 1rem;
                        }
                        
                        & a {
                            font-size: 0.8rem;
                            line-height: 40px;
                            width: 100%;
                        }
                    }
                }
                
                &__brand {
                    display: none;
                }
            }
        }
    }
}

// Smarthphones
@include mediaSm {
    body {
        h1 {
            font-size: 2.4rem;
        }
        
        p {
            margin: 0.3rem 0;  
        }
        
        header {
            .menu__burger__btn {
                display: block;
            }
            .menu {
                
                &__logo {
                    height: 5vw;
                }
                
                &__nav {
                    display: none;
                }
            }

            .content {
                &__box {
                    text-align: center;
                    
                    &__paragraph {
                        font-size: .9rem;
                    }
                    
                    &__btn {
                        display: flex;
                        justify-content: center;
                        margin: 4vh 0 0;
                        
                        .btn {
                            margin: 1rem;
                        }
                        
                        & a {
                            font-size: 0.6rem;
                            line-height: 40px;
                            width: 100%;
                        }
                    }
                }
                
                &__brand {
                    display: none;
                }
            }
        }
    }
}
