// DEFAULT ---------------------------------------------
@import 'config';
@import 'menu';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: $primary-font;
}

body {
    h1 {
        font-size: 3.5vw;
    }
    
    h2{
        font-size: 1.5rem;
        font-weight: 700;
        color: $third-color;
    }

    p {
        margin-top: 3rem;
        font-size: 1rem;
        font-weight: 500;
        line-height: 2rem;
        color: $second-color;
    }
    
    button {
        font-size: 1.0vw;
    }
    
    a {
        text-decoration: none;
    }
}

// HEADER ---------------------------------------------
header {
    background: $background-header;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 50px 9vw 0 9vw;
    height: 100vh;
    
    // Menu - classic ---------------------------------------------
    .menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        &__logo {
            margin-left: 0;
            height: 2.2vw;
        }
        
        &__nav {
            display: flex;
            list-style-type: none;
            overflow: hidden;
            
            &__item {
                margin: 0 1.05vw;
                
                &__link {
                    display: flex;
                    align-items: center;
                    height: 100%;
                    padding: 1vw;
                    font-size: 1.1vw;
                    font-weight: 500;
                    color: $first-color;
                    @include easeOut;
                    
                    &:hover {
                        color: darken($first-color, 20);
                    }
                }
                
            }
            &__item:last-child {
                margin-right: 0;
                border: 2px solid $fourth-color;
                border-radius: 3rem;
            }
        }
    }
    
    // Content ---------------------------------------------
    .content {
        display: flex;
        flex-direction: column;
        height: calc(100% - 50px);
        padding-top: 5vh; 
        color: $first-color;
        
        // Content - box(jumbotron + buttons) ---------------------------------------------
        &__box {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
                
            &__paragraph {
                justify-content: flex-start;
                margin: 0;
                color: $fourth-color;
            } 
            
            &__btn {
                margin-top: 8vh;
                 
                .btn {
                    margin-right: 1rem;
                    font-weight: 400;
                    border: none;
                    
                    &:nth-child(1) a {
                        background-color: #6166ed;

                    }

                    &:nth-child(2) a {
                        background-color: #312e64;
                        margin-right: 0;
                    }
                    
                    &:hover a {
                        background: darken($third-color, 10);
                    }
                }
                
                a {    
                    display: block;
                    padding: 1vw 2vw;
                    color: $first-color;
                    cursor: pointer;
                    @include easeOut;
                    
                }
            }
        }
        
        // Content - brands ---------------------------------------------
        &__brand {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            height: 15vh;
            
            &__img {
                height: 7vh;
                width: auto;
                
            }
        }  
    }
}

// FIRST SECTION - What we do ---------------------------------------------
section {
    margin: 3rem 9vw;
    
    &#first__container {
        display: grid;
        grid-gap: 4.9rem;
        grid-template-columns: repeat(2, 1fr);
        
        .first__container__image img{
            margin-top: 4rem;
            width: 100%;
        }
        
        .first__container__text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;            
        }
    }   
}

@import 'rwd';